*{
    margin: 0px;
}
main{
    width: 100%;
    height: 600px;
    background-color: rgb(56, 50, 50);
}
.slider1{
    width: 100%;
    height: 800px;
    background-image: url(../images/1.jpg);
    background-size: 100% 100%;
}
.overlay{
    width: 100%;
    height: 800px;
    background-color:rgb(0, 0,0,0.5);
}
header{
    width: 100%;
    height: 100px;
    background-color:rgba(0,0,0, 0.7);
    
}
nav{
    width: 1140px;
    height: 100px;
    background-color: transparent;
    margin: auto;
    position: relative;
}
.nav-items{
    width: 200px;
    height: 60px;
    /* background-color: antiquewhite; */
    text-align: center;
    font-size: 25px;
    color: beige;
    line-height: 3;
    float: left;
}
.nav-items:first-child{
    background-color: transparent;
}

.nav-items:first-child img{
    width: 144px;
    height: 30px;
    margin: 15%, 0%, 0%, 50%;
}
.Pages1{
    width: 300px;
    height: 400px;
    background-color: rgb(129, 152, 172);
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
}

.nav-items:hover .Pages1{
    opacity: 1;
    visibility: visible;
}

.pageC1-items{
    width: inherit;
    height: 50px;
    background-color: azure;
    align-items: center;
    color: black;
    padding-left: 10px;
}
.Dropdown{
    position: absolute;
    width: 200px;
    height: 250px;
    background-color: antiquewhite;
    left: 100%;
    top: 400px;
    opacity: 0;
    visibility: visible;
}
.pageC1-items:hover .Dropdown{
    opacity: 1;
    visibility: visible                             ;
}
